<div class="d-flex justify-content-center flex-wrap m-4">

  <%@users.each do |user|%>
    <div>
      <div class= "d-flex align-items-center m-4 ">
        <%= image_tag "https://avatars.dicebear.com/4.5/api/#{user.gender}/#{user.username}.svg?mood[]=happy&mood[]=happy", :size => "100x100" %>
        <div>
          <ul>
            <li>Username: <%= user.username %></li>
            <li>Email:   <%= user.email %></li>
            <li>Numbers of articles:<%= user.articles.count %></li>
         </ul>
        </div>
      </div>

      <div class="d-flex justify-content-center ">
       <span><%= link_to "View Profile", user_path(user),class: "btn btn-info btn-sm" %></span>

        <% if logged_in? && (user == current_user || current_user.admin?) %>
          <span><%= link_to "edit User", edit_user_path(user), class: "btn btn-primary btn-sm " %></span>
          <span><%= link_to "delete User", user_path(user), method: :delete, class: "btn btn-danger btn-sm", data: { confirm: "Are you sure?"} %></span>
        <% end %>
      </div>

      <hr>
  </div>
    <% end %>

</div>
